<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-class="with-scroll department-panel">
                <table class="table table-hover" st-table="areas" st-pipe="doPage">
                    <thead>
                    <tr class="sortable ">
                        <th class="table-id">#</th>
                        <th>名称</th>
                        <th>属地</th>
                        <th>楼号</th>
                        <th>楼层</th>
                        <th>管家</th>
                        <th>面积</th>
                        <th>层高</th>
                        <th width="15%"></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th><input st-search="name" placeholder="名称" class="form-control search-input" type="search"/>
                        </th>
                        <th><input st-search="location" placeholder="属地" class="form-control search-input"
                                   type="search"/>
                        </th>
                        <th><input st-search="building" placeholder="楼号" class="form-control search-input"
                                   type="search"/>
                        </th>
                        <th><input st-search="area" placeholder="楼层" class="form-control search-input"
                                   type="search"/>
                        </th>
                        <th>
                        </th>
                        <th>
                        </th>
                        <th>
                        </th>
                        <th>
                            <button class="btn btn-sm btn-primary" modal-form ng-click="toSave()"><i
                                    class="glyphicon glyphicon-plus">新建
                            </i></button>
                        </th>
                    </tr>
                    </thead>
                    <tbody ng-show="!isLoading">
                    <tr ng-repeat="area in areas">
                        <td class="table-id">{{area.code}}</td>
                        <td>{{area.name}}</td>
                        <td>{{area.floor.building.locationName}}</td>
                        <td>{{area.floor.building.name}}</td>
                        <td>{{area.floor.name}}</td>
                        <td>{{area.username}}</td>
                        <td>{{area.acreage}}</td>
                        <td>{{area.height}}</td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-sm btn-warning" ng-if="area.status=='启用'"
                                        ng-click="toSave(area)"><i
                                        class="glyphicon glyphicon-pencil">修改
                                </i></button>
                                <button class="btn btn-sm btn-danger" ng-if="area.status=='启用'"
                                        ng-click="preDelete(area)"><i class="glyphicon glyphicon-remove">删除
                                </i></button>
                                <button class="btn btn-sm btn-danger" ng-if="area.status=='删除'"
                                        ng-click="preReuse(area)"><i class="glyphicon glyphicon-ok">启用
                                </i></button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tbody ng-show="isLoading">
                    <tr>
                        <td colspan="9" class="text-center">Loading ...</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="9" class="text-center">
                            <div st-pagination="" st-items-by-page="10" st-displayed-pages="8"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>